html {
    position: relative;
    min-height: 100%;
}

body {
    font-size: large;
    margin-bottom: 80px;
}

#size {
    width: 30%;
}

.dist-table-cell {
    /*width: 2em;*/
}

.btn {
    margin-top: 1em;
}

.section-body {
    margin-left: 1em;
}

thead {
    font-weight: bold;
}

td {
    text-align: center;
}

input {
    font-size: large !important;
}

table input {
    text-align: center;
    min-width: 4em;
}

table input:disabled {
    cursor: text !important;
}

.index {
    font-weight: bold;
    vertical-align: middle !important;
}

.footer {
    position: absolute;
    bottom: 0;
    background-color: #f5f5f5;
    padding-top: 1em;
    height: 60px;
    width: 100%;
    font-size: small;
}