body {
    font-size: large;
}

#size {
    width: 30%;
}

.dist-table-cell {
    /*width: 2em;*/
}

.btn {
    margin-top: 1em;
}

.section-body {
    margin-left: 1em;
}

thead {
    font-weight: bold;
    text-align: center;
}

input {
    font-size: large !important;
}

table input {
    text-align: center;
}

.index {
    font-weight: bold;
    vertical-align: middle !important;
}